button{
   background-color: black; 
   width: 100px;
}

.text-input{
   margin: auto;
   padding: 5px;
   height: 50px;
   width: 220px;
}

button[type=submit]{
   margin-right: auto;
   padding: 5px;
   width: 135px;
}

.form{
   display: inline-block;
   margin: auto;
   width: 50%;
   border-radius: 25px;
   background-color: bisque;
}

@media screen and (max-width: 950px) {
   .form{
      margin: auto;
      width: 100%
   }
   
}

.info{
   text-align: left;
}

.font{
   font-weight: 400;
   font-family: "Times New Roman", Times, serif;
}

.list{
   text-align: left;
   font-family: "Times New Roman", Times, serif;
   font-weight: 400;
}

.image{
   position: absolute;
   top: 0px;
   left: 0px;
}

@media screen and (max-width: 950px) {
   .image{
      width: 0px;
      height: 0px;
   }
   
}

